.box-container {
  display: flex;
  /* height: 100%; */
  flex-flow: wrap;
}

.box-container .left {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  width: 50%;
  padding: 16px 16px;
  padding-left: 8px;
}
.box-container .right {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  border-left: 1px solid #fafafa;
  padding: 16px 16px;
  width: 50%;
}

.box-container .left .card-image {
  height: 300px;
  width: 300px;
  border: 1px dashed #ffff;
  background-color: #626262;
  border-radius: 16px;
  cursor: pointer;
  object-fit: cover;
  margin: auto;
}
.box-container .left .card-image:hover {
  filter: brightness(1.5);
}

.box-container .right .labels {
  border-radius: 16px;
  padding: 8px 16px;
  background-color: #323232;
  margin: 8px;
}

@media screen and (max-width: 800px) {
  .box-container .left {
    flex: 0 1 100%;
    width: 100%;
  }
  .box-container .right {
    flex: 1 0 100%;
    width: 100%;
    border-left: none;
    border-top: 1px solid #fafafa;
  }
}

.list-result {
  min-height: 32px;
  display: flex;
  width: 100%;
  border: 1px solid;
  align-items: center;
  padding: 2px 8px;
  margin: 2px 0px;
  border-radius: 2px;
}

.list-result:hover {
  background-color: var(--background);
}
